{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="example-wrapper">
Fichier exel choisi : {{exel}} <br>
Feuille Principale : {{principal}} <br>
feuille servant au recensement d`une nouvelle application : {{choice}} <br>
Nom de la colonne contenant les noms des applications : {{name}} <br>
Ligne d'insertion : {{max}} <br>
</div>
{% endblock %}
