{% extends 'base.html.twig' %}

{% block title %}New{% endblock %}

{% block body %}
<div class="example-wrapper">
<h1>Merci de compléter ce formulaire pour enregistrer un nouveau logiciel :</h1>
<form action="{{ path('app_write') }}" method="post">
<input type="hidden" name="max" value={{max}}></p> 
<input type="hidden" name="exel" value="{{exel}}"></p>
<input type="hidden" name="sheet" value="{{sheet}}"></p>
{% for key,value in array2 %}
    {% if  key|slice(1, 2) == "1" %}
        <p>{{value}} : 
        {% set id = key %}
        {% set n = 1 %}
        {% set input = '' %}
    {% endif %}
    {% if key|slice(0, 1)~'2' in array2|keys %} {# we check if the second line of the column is filled, if yes it corresponds to if there are pre-registered answers #}
        {% if n == 1 %} {# we check that this is the first time we display the selection option #}
        <select Id='select' name={{id}} method="post">
            {% for key,value in array2 %}
                {% if key|slice(1, 2)> 1 and key|slice(0, 1)== id|slice(0, 1) %}
                    <OPTION name={{id}} value="{{value}}">{{value}}
                {% endif %}
            {% endfor %}
        {% set n = 0 %}
        {% endif %}         
        </select>    
    {% else %}
        {% if value == name %}
        <input type="text" id="demo2" name={{id}} value="" onkeyup="verify()"></p>
        <p id="demo1"></p>
        <script>

        function verify()
        {
            var input = document.getElementById("demo2").value;
            var input = input.toLowerCase();
            var number = input.length;
            const array = JSON.parse('{{ arrayname | json_encode | raw }}');
            const array1 = array.map(array => array.toLowerCase());
            if (array1.includes(input)) { 
                alert("L'application est déja recencer");
            }
        }
        </script>
        {% else %}
        <input type="text" name={{id}} value="none"></p>
        {% endif %}
    {% endif %}
{% endfor %}
<p><input type="submit" value="OK"></p>
</form>
</div>

{% endblock %}